.CardCeption {
  padding: 8px;
  width: 276px !important;
  border : solid 1px lightgrey;
  word-wrap : break-word !important;
  overflow-wrap : break-word !important;
}

.BtnUpdateCard {
  float: "right" !important;
}
