
.Lists {
    text-align: left;
    padding: 1em;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    overflow: auto;
}

.BoardPage {
    background: url("https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.BoardPage {
    flex-grow: 1;
}

.Board, .Board > div{
    height: 100%;
}

.Board > div{
}

.iconBefore {
    margin-right: 8px;
}
