.AddCard {
  border: 0px !important;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(0,0,0,0);
}


.AddCard form {
    padding: 0px;
}

.AddCard input {
    border: solid 1px gray;
}