.indexCol {
    margin-top: 20px;
}

.bodyStatMyProfile {
    padding-left: 0px;
    padding-right: 0px;
}

.centerCol {
    text-align: center;
}

.cardBio {
    height: 177px;
}

.contentMyAccount {
    margin-top: 20px;
}

.TitleMyAccount {
    margin-top: 10px;
}