.Registration {
    text-align: left;
    padding: 1em;
    border: 2px solid black;
    vertical-align: middle;
    margin: 40px auto 1em;
}

 .form {
     padding: 1em;
 }

 label {
     display: flex;
     font-weight: 600;
 }

.btnSign {
   background-color: #6495ED;
}

.btnSign:hover {
   background-color: #4169E1;
}

.btnGithub {
    background-color: white;
    color : black;
}

.text-center {
   margin-top: 10px;
}

/* Style the form icons */
.icon {
    padding: 10px;
    background: lightgrey;
    color: black;
    min-width: 50px;
    text-align: center;
    border-radius: 4px;
}

/* Style the input fields */
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid lightgrey;
}

/* Set a style for the submit button */

.btn:hover {
    opacity: 1;
}
