.Registration {
    text-align: left;
    padding: 1em;
    margin: 1em;
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.form {
    padding: 1em;
}

label {
    display: flex;
    font-weight: 600;
}

.btnSign {
    background-color: #6495ED;
}

.btnSign:hover {
    background-color: #4169E1;
}

.btnGithub {
    background-color: white;
    color : black;
}

.btnReturn {
    background-color: red;
}

.text-center {
    margin-top: 10px;
}