.butEditInfoBoard {
    width: 170px;
}

.btnUnarchive {
    padding-right: 10px;
}

.ContentArchivedCard {
    margin-top: 15px;
}

.scrollingListCards {
    max-height: 170px;
    overflow-y: scroll;
}

@media only screen and (min-width: 767px) {
    .butEditInfoBoard {
        margin-top: 20px;
    }
}