.boardNavBar {
  background-color: rgba(0,0,0,0.6);
}
.boardTitle {
    color: whitesmoke;
}
.boardTitle:hover {
    color: whitesmoke;
}

.boardMenu {
    color : whitesmoke;
}

.BoardMenu {
    text-align: left;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
