.tagsItem {
    margin-top: 8px;
    margin-bottom: 8px;
    border : 1px solid gray;
    border-radius: 5px;
}

.tagsItem > span {
    font-weight: 600;
    color: white;
}

 .nbTags {
    color: white;
    margin: 8px;
}

 .tagsName {

     border-radius: 4px;
     font-weight: 700;
     color: white;
     padding: 6px;
     width: 180px;
     display: inline-block;
 }

 .tagsAddon {
     padding: 6px;
     margin-left: 8px;
     margin-right: 8px;
 }

 .pickerColor {
     margin-top: 8px;
     padding: 8px;
 }