.navbar {
    background-color: black;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.helpNavItem {
    color : white;
}

.helpNavItem:hover {
    color: gainsboro;
}

.signUp {
    color: white;
    border: 1px outset dodgerblue;
    border-radius: 8px;
    background-color: dodgerblue;
}

.signIn {
    color: black;
    border: 1px outset white;
    border-radius: 8px;
    background-color: white;
}